﻿@model IEnumerable<EmprestimosModel>

<div class="container">

<div class="d-flex justify-content-between align-items-center mb-5">
    <h1>Empréstimos</h1>
    <a class="btn btn-success mx-2">Cadastrar novo empréstimo</a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Recebedor</th>
            <th scope="col">Fornecedor</th>
            <th scope="col">Livro</th>
            <th scope="col">Ultima atualização</th>
        </tr>
    </thead>


        @foreach (var emprestimo in Model)
        {
            if(emprestimo != null)
            {
            <tbody>
                    <tr>
                        <th scope="row">@emprestimo.Recebedor</th>
                        <td>@emprestimo.Fornecedor</td>
                        <td>@emprestimo.LivroEmprestado</td>
                        <td>@emprestimo.dataUltimaAtualizacao</td>
                    </tr>
                </tbody>
            }
        }
    

</table>
    </div>